{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./client"],
        "alias": {
          "@App": "./client/app/Ui/App",
          "@Components": "./client/app/Components",
          "@Context": "./client/app/Context",
          "@Icons": "./client/app/Icons",
          "@Layouts": "./client/app/Layouts",
          "@Styles": "./client/app/Styles"
        }
      }
    ]
  ]
}